<div>
	<ul ng-repeat="s in item.data">
		<li>{{ s.Name }}</li>
		<li>{{ s.Age }}</li>
		<li>{{ s.Gender }}</li>
	</ul>
	<button type="button" ng-click="getJavascript()" style="width:200px">Return Javascript</button><br><br>
	<hr/>
	<button type="button" ng-click="setSession()" style="width:200px">Set Session as "Lin"</button><br><br>
	<button type="button" ng-click="getSession()"style="width:200px">Get Session from Server</button><br><br>
	<hr/>
	<button type="button" ng-click="getApplicationNumber()" style="width:200px">Get totalNumber from Server</button><br><br>
	<button type="button" ng-click="getSessionNumber()" style="width:200px">Get myNumber from Server</button><br><br>
	<hr/>
	<a href="/Home/">Go Back Menu</a><br><br>
	
</div>
